.main {
  flex: 2;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: #eee;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #ccc;
    &:hover {
      background: #aaa;
    }
  }
}

.pc {
  .main {
  }
}
