html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body,
input,
textarea {
  font-family: "Noto Sans KR", sans-serif;
}

p {
  margin: 0;
}

ol,
ul,
li,
a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
